.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    
}

.navbar li{
    display: inline-block;
    padding: 0 20px;
}
.navbar a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.banner{
background-color: blue;
color: white;
margin-top: 50px;
text-align: center;
padding: 100px;0;
}
#dog {
    height:200pxx;
    width:200px;
    filter: drop-shadow(1px 1px 1px black);
}
.dogy-section{
    padding: 20px 50px;
}
#Doggy {
    color: blue;
    font-size: 100px;
}

.zosim ul{
    list-style-type: none;
}
.avatar span {
 background-image: url(../css/image/timid_dog.png);
}
.bold{
    font-weight: 900;
}
a.blue{
    color: blue;
}